// Custom styles.
// 代码块样式 Custom styles.
//code {
//  color: #ff7600;
//  background: #fbf7f8;
//  margin: 2px;
//}
//行内代码样式

code {
  color: #c7254e;
  background: #f9f2f4;
  border: 1px solid #d6d6d6;
  padding: 1px 4px;
  word-break: break-all;
  border-radius: 4px;
}

// 大代码块的自定义样式

.highlight, pre {
  margin: 0px 0;
  //padding: 5px;
  border-radius: 0px;
}

.highlight, pre {
  border: 1px solid #21252b;
}
